# -*- mode: conf-unix -*-
[alias]
    st = status -sb
    ci = commit
    co = checkout
    commend = commit --amend -a -C HEAD
    br = branch
#    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    hist = log --pretty=format:\"%h %ai | %s%d [%an]\" --graph --date=short
    # Fancy logging.
    #   h = head
    #   hp = head with patch
    #   r = recent commits, only current branch
    #   ra = recent commits, all reachable refs
    #   l = all commits, only current branch
    #   la = all commits, all reachable refs
    #   b = all branches
    #   bs = all branches, sorted by last commit date
    head = !git r -1
    h = !git head
    hp = "!. ~/.githelpers && show_git_head"
    r = !GIT_NO_PAGER=1 git l -30
    ra = !git r --all
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    b = "!. ~/.githelpers && pretty_git_branch"
    bs = "!. ~/.githelpers && pretty_git_branch_sorted"
    ski = !git stash --keep-index
    cp = cherry-pick
    pf = push --force-with-lease
    type = cat-file -t
    dump = cat-file -p
    up = pull --rebase
    reb = rebase
    # Delete merged branches.
    brc = "!f() { git branch --merged main | grep -v '^[ *] main$' | xargs git branch --delete; }; f"
    oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent \"${1:-main}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
    branch-created = !bash -c 'git show --format="%ai" $(git oldest-ancestor \"${1}\" main)' -
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[user]
    name = James Abley
    email = james.abley@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINEenK/qFRZ+RxdolCuZ+SKYobqqVggKWrlZh0Ytbsyn
[branch]
    autosetuprebase = always
[core]
    autocrlf = input
    safecrlf = true
    pager = $GIT_DIFF_HIGHLIGHT | less
[color]
    ui = true
    status = auto
    diff = auto
    branch = auto
    showbranch = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[diff]
    compactionHeuristic = true
[push]
    default = upstream
# alias some common Git origins/endpoints
# http://www.kernel.org/pub/software/scm/git/docs/git-clone.html
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
# local overrides - git 1.7.10 or higher
# http://stackoverflow.com/a/9733277
[include]
    path = ~/.localgitconfig

[hub]
    protocol = https
    host = github.gds
[rerere]
    enabled = true

# for $deity's sake, check that anything we're getting is complete and sane on a regular basis
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[commit]
    gpgsign = true
[url "git://github.com/ghc/packages-"]
    insteadOf = git://github.com/ghc/packages/
[rebase]
	autosquash = true
	updateRefs = true
	updateRefs = true
[http]
	cookiefile = /Users/jabley/.gitcookies
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
