# -*- mode: conf-unix -*-
[alias]
    st = status -sb
    ci = commit
    co = checkout
    commend = commit --amend -a -C HEAD
    br = branch
#    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    hist = log --pretty=format:\"%h %ai | %s%d [%an]\" --graph --date=short
        l = log --decorate --name-status
    type = cat-file -t
    dump = cat-file -p
    svnup = svn fetch
    sup = svn fetch
    svnci = svn dcommit
    sci = svn dcommmit
    up = pull --rebase
    sreb = svn rebase
    srt = svn rebase remotes/trunk
    srebt = svn rebase remotes/trunk
    reb = rebase
    # Delete merged branches.
    brc = "!f() { \
        git branch --merged master |\
        grep -v '^[ *] master$' |\
        xargs git branch --delete; \
    }; f"
    oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
    branch-created = !bash -c 'git show --format="%ai" $(git oldest-ancestor \"${1}\" master)' -
[user]
    name = James Abley
    email = james.abley@gmail.com
    signingkey = FA2DE7C6
[branch]
    autosetuprebase = always
[core]
    autocrlf = input
    safecrlf = true
    excludesfile = /opt/boxen/config/git/gitignore
    pager = $GIT_DIFF_HIGHLIGHT | less
[color]
    ui = true
    status = auto
    diff = auto
    branch = auto
    showbranch = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[diff]
    compactionHeuristic = true
[push]
    default = upstream
# alias some common Git origins/endpoints
# http://www.kernel.org/pub/software/scm/git/docs/git-clone.html
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[credential]
    helper = /opt/boxen/bin/boxen-git-credential
# local overrides - git 1.7.10 or higher
# http://stackoverflow.com/a/9733277
[include]
    path = ~/.localgitconfig

[hub]
    protocol = https
    host = github.gds
[rerere]
    enabled = true

# for $deity's sake, check that anything we're getting is complete and sane on a regular basis
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[commit]
    gpgsign = true
[url "git://github.com/ghc/packages-"]
    insteadOf = git://github.com/ghc/packages/
[rebase]
	autosquash = true
[http]
	cookiefile = /Users/jabley/.gitcookies
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
